:root {
    --primary-color: #a5a5a5;
    --secondary-color: #383838;
    --white: #ebebeb;
    --black: #141414;;
    --font-family: 'Arial, sans-serif';
}

*{
    background-color: var(--black);
    color: var(--white);
}