RewriteEngine On

# Redirect root URL to /pages/home
RewriteRule ^$ /home [L,R=302]

RewriteRule ^home$ index.php [L]

# hide 'pages' from url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /pages/$1 [L]
